*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    gap: 30px;
}
h1{
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    color: #333;
}
.xogame{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: #fff;
    border: 2px solid #000;
    cursor: pointer;
    
    border-radius: 10px;
}
.box:hover{
    background-color: #e0e0e0;
}
.winner{
    background-color: #90ee90 !important;
}
.reset-button{
    
    /* margin-top: 20px; */
    padding: 6px 15px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #305a88;
    color: #fff;
}
.reset-button:hover{
    background-color: #25476a;
}
